* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.loginForm {
  background-color: #cacaca;
  width: 450px;
  height: 480px;

  margin: auto;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
  border-radius: 25px;
}

.inputField {
  margin: 30px;
}

.form {
  padding: 5px;
  text-align: center;
  margin-top: 25px;
}

.btn {
  width: 222px;
  height: 50px;
  margin: 56px auto;
  position: relative;
  box-shadow: 0 0 20px 9px rgb(61 78 136);
  border-radius: 30px;
}

#email,
#password {
  width: 100%;
  padding: 15px 0;
  border-left: 0;
  margin: 5px 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid beige;
  outline: none;
  background: none;
  text-emphasis-color: white;
}

.label {
  font-size: larger;
}

.error {
  color: red;
  border: groove;
}

@media (max-width: 800px) {
  .loginForm {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .loginForm {
    width: 310px;
  }
}

@media (max-width: 300px) {
  .loginForm {
    width: 200px;
  }
  .btn {
    width: 140px;
    height: 40px;
  }
}
