.userCard {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 220px;
  height: 130px;
  margin: 20px 10px;
  border-radius: 30px;
  border: ridge;
  outline-color: #dcdcdc;
}

.userImg {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-right: 10px;
}

.firstName,
.lastName {
  font-weight: bold;
  margin-right: 5px;
}
