.containerSearch {
  height: 50px;
  margin: 50px;
  position: relative;
}

.input {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  text-align: center;
  border: ridge;
  border-color: #dcdcdc;
  -webkit-text-fill-color: rgb(88, 72, 72);
  -webkit-box-shadow: 0 0 0px 100px #fff inset;
}
